@charset "utf-8";
@import url("font.css");
@import url("base.css");
:root {
  --kpost-font-family-base: var(--kpost-font-type);
  --kpost-font-base: 62.5%;
  --kpost-line-height-none: 1;
  --kpost-line-height-base: 1.5;
  --kpost-letter-spacing-none: var(--kpost-letter-spacing-0);
  --kpost-letter-spacing-wide: var(--kpost-letter-spacing-1);
  --kpost-fw-regular: 400;
  --kpost-fw-bold: 700;
  --kpost-transition-base: 0.4s ease-in-out;
  --kpost-transition-fade: opacity 0.4s linear;
  --kpost-transition-collapse: max-height 0.4s ease;
  --kpost-transition-collapse-width: width 0.4s ease;
  --kpost-contents-size: 1280px;
  --kpost-contents-padding-x: 24px;
  --kpost-contents-wrap-size: 1280px;
  --kpost-box-shadow-outline: 0 0 0 0.4rem var(--kpost-primary);
  --kpost-box-shadow-outline-inset: inset 0 0 0 0.2rem var(--kpost-primary);
  --kpost-zoom-sm: 0.9;
  --kpost-zoom-nd: 1;
  --kpost-zoom-lg: 1.1;
  --kpost-zoom-xlg: 1.3;
  --kpost-zoom-xxlg: 1.5;
  --kpost-font-underline-offset: 0.3rem;
  --kpost-icon--xsm: var(--kpost-height-2);
  --kpost-icon--sm: var(--kpost-height-2);
  --kpost-icon--md: var(--kpost-height-3);
  --kpost-icon--lg: var(--kpost-height-4);
  --kpost-icon--xlg: var(--kpost-height-4);
}

/* reset */
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: var(--kpost-font-family-base), "맑은고딕", "Malgun Gothic",
    "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo", "sans-serif";
  color: var(--kpost-gray-90);
  font-weight: var(--kpost-fw-regular);
  line-height: var(--kpost-line-height-base);
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
html {
  font-size: var(--kpost-font-base);
}
body {
  background-color: var(--kpost-gray-0);
  font-size: var(--kpost-fs-md);
  overflow-x: hidden;
}

* {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  box-sizing: border-box;
}

*:focus {
  outline: 0.2rem solid var(--kpost--border-inverse);
  outline-offset: 0;
  box-shadow: var(--kpost-box-shadow-outline);
  transition: outline 0s, box-shadow 0s !important;
}

::-moz-selection {
  background: var(--kpost-color-light-secondary-50);
  color: var(--kpost-color-light-gray-0);
}
/* 마우스 드래그 컬러 */
::selection,
::-moz-selection,
::-webkit-selection {
  background: var(--kpost-color-light-secondary-50);
  color: var(--kpost-color-light-gray-0);
  text-shadow: none;
}

/* 인풋 플레이스 홀더 */
input::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: var(--kpost-color-gray-40);
}

*:focus-visible {
  outline-offset: -4px;
  outline: 3px solid var(--kpost-color-primary-50);
  box-shadow: 0 0 0 2px;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
a,
button,
select,
ul,
li,
span,
em,
label,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-adjust: none;
  font-family: inherit;
  line-height: var(--kpost-line-height-base);
  letter-spacing: inherit;
}

pre {
  font-family: inherit;
}

input,
textarea,
a,
button,
select,
span,
label,
:before,
:after {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: var(--kpost-fw-bold);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
fieldset {
  border: 0;
}

fieldset {
  min-width: 100%;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

em,
address,
i {
  font-style: normal;
}

a,
button {
  transition: var(--kpost-transition-base);
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

a:visited.visited,
a:visited .visited {
  color: var(--kpost--link-visited);
}

button,
input[type="submit"],
input[type="button"] {
  overflow: visible;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-appearance: button;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}

label {
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="file"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="search"],
textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

input[type="number"] {
  -moz-appearance: textfield;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"]::-ms-clear {
  display: none;
}

caption {
  position: static !important;
  margin: 0 !important;
}

table {
  table-layout: fixed;
  max-width: none;
  width: auto;
  min-width: 100%;
  border-collapse: collapse;
}

[role="button"] {
  cursor: pointer;
}

.img img {
  min-width: 100%;
  max-width: 100%;
}

.img.bg-img {
  background-size: cover;
}

.blind,
hr,
.sr-only,
legend,
caption {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.al {
  text-align: left !important;
}

.ac {
  text-align: center !important;
}

.ar {
  text-align: right !important;
}

.underline {
  text-decoration: underline;
  text-underline-offset: var(--kpost-font-underline-offset);
}

.break-all {
  word-break: break-all;
}

.icon {
  display: inline-flex;
  width: var(--kpost-icon--lg);
  height: var(--kpost-icon--lg);
  background-color: var(--kpost-gray-90);
  forced-color-adjust: none;
}
.icon.pure {
  display: inline-flex;
  width: var(--kpost-icon--lg);
  height: var(--kpost-icon--lg);
  background-color: var(--kpost-gray-90);
  background-color: transparent !important;
  forced-color-adjust: none;
}

.inner {
  max-width: var(--kpost-contents-wrap-size);
  padding-left: var(--kpost-contents-padding-x);
  padding-right: var(--kpost-contents-padding-x);
}

@media (max-width: 767px) {
  body {
    font-size: var(--kpost-fs-md);
  }
  .pc-only {
    display: none !important;
  }
  .pc-only.read {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  .mob-line {
    display: block;
    line-height: inherit;
  }
}
@media (min-width: 1024px) {
  .inner {
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .mob-only {
    display: none !important;
  }
  .mob-only.read {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  .pc-line {
    display: block;
    line-height: inherit;
  }
}

/* skipNavi */
#skipNavi {
  position: absolute;
  top: -1px;
  background-color: #333;
  z-index: 999;
}
#skipNavi a {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 25px;
  margin-top: -100px;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  background: #000;
}
#skipNavi a:link {
  color: #333;
}
#skipNavi a:focus {
  margin-top: 0;
  text-decoration: underline;
  color: #fff;
}

/* 글자자름 (inline-block, block 형태로 가로폭 지정)*/
.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.ellipsis2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 정렬 */
.p_r {
  position: relative;
}
.p_a {
  position: absolute;
}
.t_a_c {
  text-align: center;
}
.t_a_l {
  text-align: left;
}
.t_a_r {
  text-align: right;
}

.float_r {
  float: right;
}
.float_l {
  float: left;
}
.float_n {
  float: none !important;
}

.v_a_t {
  vertical-align: top;
}
.v_a_m {
  vertical-align: middle;
}
.v_a_b {
  vertical-align: bottom;
}
ul.ulfl > li {
  float: left;
}

.dp_ini {
  display: inline;
}
.dp_inb {
  display: inline-block;
}
.dp_blo {
  display: block;
}
.dp_flex {
  display: flex;
}

.f_v_c {
  align-items: center;
}
.f_h_c {
  justify-content: center;
}
.f_h_v {
  justify-content: space-between;
}
.f_vh_c {
  justify-content: center;
  align-items: center;
}
.f_wrap {
  flex-wrap: wrap;
}

/* 상단으로 */
.loca_nav {
  position: fixed;
  right: 40px;
  bottom: 50px;
  z-index: 108;
  display: none;
}
.loca_nav a {
  position: relative;
  display: block;
  color: #000;
  background: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 0px;
  border: 1px solid #eee;
  opacity: 0.9;
  font-weight: 500;
  border-radius: 4px;
}
.loca_nav a.top {
  padding-top: 25px;
}
.loca_nav a:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  border: solid #000;
  border-width: 2px 2px 0 0;
  transform: rotate(-45deg);
  vertical-align: middle;
  margin-left: -4px;
}
.loca_nav a.bottom {
  padding-top: 12px;
  margin-top: 5px;
}
.loca_nav a.bottom:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  border: solid #000;
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);
  vertical-align: middle;
  margin-left: -4px;
}
.loca_nav a:hover {
  background: #000;
  color: #fff;
  opacity: 1;
}
.loca_nav a:hover:before {
  border-color: #fff;
}

/* 버튼 */

a {
  transition: var(--kpost-transition-base);
}

.btn-wrap {
  width: 100%;
}

a[class="btn"],
button[class="btn"],
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
  border-style: solid;
  cursor: pointer;
  white-space: nowrap;
  transition: var(--kpost-transition-base);
  border-width: var(--kpost-number-1);
  font-weight: var(--kpost-fw-regular);
}
a[class="btn"]:hover,
button[class="btn"]:hover,
.btn:hover {
  background: var(--kpost-gray-10);
}
.btn:hover {
  background-color: var(--kpost-primary-60);
  border-color: var(--kpost-primary-60);
}

.btn:active {
  background-color: var(--kpost-primary-60);
  border-color: var(--kpost-primary-60);
}

.btn.primary:focus-visible {
  outline-offset: -0.4rem;
  outline: 2px solid rgba(255, 255, 255, 0.9);
  transition: none;
}

.btn[disabled] {
  background-color: var(--kpost-gray-30);
  border-color: var(--kpost-gray-30);
  color: var(--kpost-gray-60);
  cursor: default;
}

.btn.xsm {
  gap: var(--kpost-number-2);
  height: var(--kpost-number-12);
  padding: var(--kpost-number-0) var(--kpost-number-1);
  border-radius: var(--kpost-rd-2);
  font-size: var(--kpost-fs-sm);
}

.btn.sm {
  gap: var(--kpost-number-4);
  height: var(--kpost-number-16);
  padding: var(--kpost-number-0) var(--kpost-number-1);
  border-radius: var(--kpost-rd-2);
  font-size: var(--kpost-fs-sm);
}

.btn.md {
  gap: var(--kpost-number-4);
  height: var(--kpost-number-16);
  padding: var(--kpost-number-0) var(--kpost-number-8);
  border-radius: var(--kpost-rd-3);
  font-size: var(--kpost-fs-md);
}

.btn.lg {
  gap: var(--kpost-number-4);
  height: var(--kpost-number-17);
  padding: var(--kpost-number-0) var(--kpost-number-9);
  border-radius: var(--kpost-rd-4);
  font-size: var(--kpost-fs-lg);
}

.btn.xlg {
  gap: var(--kpost-number-4);
  height: var(--kpost-number-18);
  padding: var(--kpost-number-0) var(--kpost-number-10);
  border-radius: var(--kpost-rd-4);
  font-size: var(--kpost-fs-lg);
}

.btn.primary {
  background-color: var(--kpost-primary);
  border: 1px solid var(--kpost-primary);
  color: var(--kpost-white);
}

.btn.primary:hover {
  background-color: var(--kpost-primary-60);
  border-color: var(--kpost-primary-60);
}

.btn.primary:active {
  background-color: var(--kpost-primary-70);
  border-color: var(--kpost-primary-70);
}

.btn.primary[disabled] {
  background-color: var(--kpost-gray-30);
  border-color: var(--kpost-gray-30);
  color: var(--kpost-gray-60);
}

.btn.secondary {
  background-color: var(--kpost-white);
  border: 1px solid var(--kpost-secondary);
  color: var(--kpost-secondary-60);
}

.btn.secondary:hover {
  background-color: var(--kpost-primary-5);
}

.btn.secondary:active {
  background-color: var(--kpost-primary-10);
}

.btn.secondary[disabled] {
  background-color: var(--kpost-gray-30);
  border-color: var(--kpost-gray-40);
  color: var(--kpost-gray-60);
}

.btn.secondary.active.ico-arr-down::after {
  transform: rotate(180deg);
}

.btn.tertiary {
  background-color: var(--kpost-white);
  border: 1px solid var(--kpost-gray-90);
  color: var(--kpost-secondary-90);
}

.btn.tertiary:hover {
  background-color: var(--kpost-gray-5);
}

.btn.tertiary:active {
  background-color: var(--kpost-gray-10);
}

.btn.tertiary[disabled] {
  background-color: var(--kpost-gray-30);
  border-color: var(--kpost-gray-40);
  color: var(--kpost-gray-60);
}

.btn.navy {
  color: var(--kpost-navy-50) !important;
  border: 1px solid var(--kpost-navy-50);
  background-color: var(--kpost-navy-5);
}

.btn.navy:hover {
  background-color: var(--kpost-navy-10);
}

.btn.navy:focus {
  outline-color: var(--kpost-navy-50);
}

.btn.text {
  background-color: var(--kpost-alpha-black0);
  border-color: var(--kpost-alpha-black0);
  color: var(--kpost-gray9);
}

.btn.xsm .icon {
  width: var(--kpost-icon--xsm);
  height: var(--kpost-icon--xsm);
}

.btn.sm .icon {
  width: var(--kpost-icon--sm);
  height: var(--kpost-icon--sm);
}

.btn.md .icon {
  width: var(--kpost-icon--md);
  height: var(--kpost-icon--md);
}

.btn.lg .icon {
  width: var(--kpost-icon--lg);
  height: var(--kpost-icon--lg);
}
.btn.xlg .icon {
  width: var(--kpost-icon--xlg);
  height: var(--kpost-icon--xlg);
}

@media print {
  /* 인쇄 스타일은 이곳에 작성하면 됩니다. */
  body {
    -webkit-print-color-adjust: exact;
    font-size: 9pt !important;
  }
  h2,
  h3,
  table {
    page-break-after: avoid;
  }
  img,
  table {
    max-width: 100% !important;
    width: 100% !important;
  }
  .sub {
    padding-top: 0 !important;
  }
  #footer,
  #header,
  #snb,
  .table_wp .notice {
    display: none !important;
  }
  .table_wp {
    overflow-x: unset;
    margin: 0;
    width: 100%;
  }
  .table_wp table {
    width: 100% !important;
  }
  table {
    margin-top: 10px !important;
    border-collapse: collapse !important;
  }
  th,
  td {
    padding: 6px !important;
    border: solid #ddd !important;
    border-width: 1px 0px 1px 0 !important;
  }
  th {
    border-right: 1px solid #ddd !important;
  }
}
