@charset "utf-8";
@import url("font.css");
/* reset */
html {width:100%;}
body {margin:0; padding:0; background:#fff; overflow-y:scroll; height:100%; width:100%;	word-break:keep-all;}
body {font-family:"Pretendard", "맑은고딕","Malgun Gothic", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo", "sans-serif"; -webkit-font-smoothing: antialiased; font-size:17px; font-weight:500; letter-spacing:0px; color:#0A0D14; line-height:1.5;}
* {color:inherit; font-family:inherit; font-size:inherit; font-weight:inherit; letter-spacing:inherit; line-height:inherit;box-sizing: border-box;}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display:block;}
b,strong {font-weight:600}
h1,h2,h3,h4,h5,h6,p,form,span {margin:0; padding:0; font-weight:normal}
div,table {margin:0; padding:0; border-spacing:0; border-collapse:collapse; border:0px none;}
ul,ol,li,td,dl,dt,dd {margin:0; padding:0;list-style:none;}
em,i {font-style:normal;}
u {text-decoration:none;}
a,span {display:inline-block;}
img {border:0;max-width:100%;vertical-align:top}
address, caption, pre, em, i {font-style:normal;}

table{width:100%;border-collapse:collapse;border-spacing:0;}
table caption,legend{height:0;width:0;overflow:hidden;font-size:0;}
table, caption, tbody, tfoot, thead, tr, th, td {background:transparent;font-siez:100%;}
th,td{vertical-align:middle}

blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";content:none;}
hr{ width:100%; height:1px; background-color:#ddd; margin:20px 0px; border:0px;}

/* 링크속성 */
a{color:#333;text-decoration:none;}
a:hover,a:focus{color:#34586e}
a:focus{color:#34586e;}
a:link, a:visited {color:inherit; text-decoration:none; cursor:pointer;}

/* form */
input, select, textarea, button {color:#121212; vertical-align:middle;padding:12px;border:1px solid #c8ced7;box-sizing:border-box;height:49px;border-radius:5px;}
input::-ms-clear {display: none}
input {-webkit-appearance: none;} /*아이폰 버튼스타일 제거*/
input[type='checkbox']{-webkit-appearance:checkbox} 
input[type='radio']{-webkit-appearance:radio;vertical-align:top}
textarea {resize:none;border-radius:5px;}
select {padding: 8px 32px 8px 12px;-webkit-padding-end: 32px;-moz-padding-end:32px;background: url('/img/select_arrow.svg') no-repeat right 10px center #fff;-webkit-appearance:none;-moz-appearance:none;cursor:pointer;min-width: 100px;}
select::-ms-expand {display: none;}
textarea {resize:none;}
button, label,input[type='submit'],input[type='button'],input[type="radio"]:hover,input[type="checkbox"]:hover {cursor:pointer;}
fieldset{border:none;margin:0;padding:0}
input:read-only{background:#fafafa;color:#111;}
input:disabled{background:#F2F4F7;color:#525866;}
button{font-weight:700}

select.select_s{height:36px;padding: 6px 20px 6px 8px;-webkit-padding-end: 20px;-moz-padding-end:20px;background: url('/img/select_arrow.svg') no-repeat right 7px center #fff;-webkit-appearance:none;-moz-appearance:none;cursor:pointer;min-width: 58px;background-size:10px;font-size:1rem;border-radius:5px;}
select:disabled{background-color:#F2F4F7;color:#525866;}

input[type="radio"]{position:relative;width:21px; height:21px; border:none; padding:0; margin:0; background:none;  appearance: none; -webkit-appearance:none; }
input[type="radio"]:before{content:'';width:20px;height:20px;display:inline-block; background-color:#fff; border:6px solid #b3b5bb;border-radius:50%; box-sizing:border-box; position:absolute;left:0;top:1px;transition:all .2s ease-in-out;}
input[type="radio"]:checked:before{border:6px solid #B70F15;}
input[type="radio"]:disabled:before{border:6px solid #eee;background:#ddd;}
label.label,.label{display: inline-flex;align-items: center;line-height:24px;vertical-align: middle;}
input:checked + label{font-weight:700;}

input[type="checkbox"]{position:relative;width:21px; height:21px; border:none; padding:0; margin:0; background:none;  appearance: none; -webkit-appearance:none; }
input[type="checkbox"]:before{content:'';width:20px;height:20px;display:inline-block; background-color:#fff; border:2px solid #b3b5bb;border-radius:6px; box-sizing:border-box; position:absolute;left:0;top:1px;transition:all .2s ease-in-out;}
input[type="checkbox"]:checked:before{background:url('/_KOR/img/checkbox_w.svg') center center no-repeat #B70F15 ;border-color:transparent}
input[type="checkbox"]:focus:before{border:2px solid #375DFB;}
input:checked + label{font-weight:700;}
input[type="checkbox"]:disabled:before{background:url('/_KOR/img/checkbox_w.svg') center center no-repeat #ddd ;border-color:transparent}
input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label{color:#777}
input[type="radio"] + label,
input[type="checkbox"] + label{line-height:20px;}

.checkbox,.radio{position:relative;min-height:24px;display: inline-flex;align-items: center;padding-left:22px;margin:4px 0;}
.checkbox label,.radio label{margin-left:4px;}
.checkbox:not(:last-child),
.radio:not(:last-child){margin-right:8px;}
.radio input[type="radio"],
.checkbox input[type="checkbox"]{position:absolute;top:2px;left:0}
.radio xinput[type="radio"]:before,
.checkbox input[type="checkbox"]:before{position:absolute;top:1px;left:0}

/* 마우스 드래그 컬러 */
::selection {background:#BC3145; color:#fff; text-shadow: none;}
::-moz-selection {background:#BC3145; color:#fff; text-shadow: none;}
::-webkit-selection {background:#BC3145; color:#fff; text-shadow: none;}

/* 인풋 플레이스 홀더 */
input::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { color:#999;font-size:.875em}

/* Accessibility */
.sound_only,.blind{height:0;width:0;font-size:0;overflow:hidden;position:absolute;}
.hide{display:none}

/* skipNavi */
#skipNavi{position:absolute;top:-1px;background-color:#333;z-index:999}
#skipNavi a{position:absolute;top:0;left:0;padding:10px 25px;margin-top:-100px;text-align:center;line-height:1;white-space:nowrap;background:#000}
#skipNavi a:link{color:#333;}
#skipNavi a:focus{margin-top:0;text-decoration:underline;color:#fff}

/* 글자자름 (inline-block, block 형태로 가로폭 지정)*/
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ellipsis2{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

/* font - 에스코어 드림 */
.typo{font-family:"SCoreDream", "sans-serif";}

/* 정렬 */
.p_r{position:relative}
.p_a{position:absolute}
.t_a_c{text-align:center }
.t_a_l{text-align:left }
.t_a_r{text-align:right}

.float_r{float:right}
.float_l{float:left }
.float_n{float:none !important;}

.v_a_t {vertical-align:top }
.v_a_m {vertical-align:middle }
.v_a_b {vertical-align:bottom }
ul.ulfl > li{float:left}

.dp_ini{display:inline}
.dp_inb{display:inline-block}
.dp_blo{display:block}
.dp_flex{display:flex}

.f_v_c{align-items: center;}
.f_h_c{justify-content: center;}
.f_h_v{justify-content: space-between;}
.f_vh_c{justify-content: center;align-items: center;}
.f_wrap{flex-wrap:wrap;}

.clear{clear:both !important;}
.clearfix:after,ul.ulfl:after,#container:after {content:"";width:100%;display:block;visibility:hidden;clear:both;}

/* 폰트속성 */
.fw_0 {font-weight:normal  !important;}
.fw_1 {font-weight:500}
.fw_2 {font-weight:600}
.fw_3 {font-weight:700}
.fw_4 {font-weight:800}
.fw_5 {font-weight:900}
[class*='fw_'] > * {font-weight: inherit;}

/* 폰트속성 size */
.fs_1{font-size:0.800rem !important;}

.img-text{font-size:0 !important}

/* Typography */
.h1{font-size:2.75rem;line-height:3.575rem;} /* 44px */
.h2{font-size:2.5rem;line-height:3.25rem;} /* 40px */
.h3{font-size:2.25rem;line-height:2.925rem;}/* 36px */
.h4{font-size:2rem;line-height:2.6rem;}/* 32px */
.h5{font-size:1.75rem;line-height:2.475rem;}/* 28px */
.h6{font-size:1.5rem;line-height:2.4rem;}/* 24px */

.stit_1{font-size:1.375rem;line-height:2rem;}/* 22px */
.stit_2{font-size:1.25rem;line-height:1.85rem;}/* 20px */
.stit_3{font-size:1.188rem;line-height:1.5rem;}/* 19px */

.body_1{font-size:1.125rem;line-height:1.8rem;}/* 18px */
.body_2{font-size:1.063rem;line-height:1.688rem;}/* 17px */
.body_3{font-size:1rem;line-height:1.5rem;}/* 16px */
.body_4{font-size:0.938rem;line-height:1.38rem;}/* 15px */
.body_5{font-size:0.875rem;line-height:1.313rem;}/* 14px */

.caption{font-size:0.813rem;line-height:1.313rem;}/* 13px */
.overline{font-size:0.75rem;line-height:1.125rem;}/* 12px */

/*------------------------------------*\
  width
\*------------------------------------*/
.w100p {width:100%;}
.w90p{width:90%}
.w80p{width:80%}
.w70p{width:70%}
.w60p{width:60%}
.w50p{width:50%}
.w49p{width:49%}
.w40p{width:40%}
.w30p{width:30%}
.w33p{width:33.3%}
.w25p{width:25%}
.w20p{width:20%}
.w15p{width:15%}
.w10p{width:10%}

/*------------------------------------*\
  margin/padding
\*------------------------------------*/
.mt0 {margin-top:0px !important;}
.mt4 {margin-top:0.25rem !important;}
.mt8 {margin-top:0.5rem !important;}
.mt16{margin-top:1rem !important;}
.mt20{margin-top:1.25rem !important;}
.mt24{margin-top:1.5rem !important;}
.mt30{margin-top:1.875rem !important;}
.mt32{margin-top:2rem !important;}
.mt36{margin-top:2.25rem !important;}
.mt40{margin-top:2.5rem !important;}
.mt44{margin-top:2.75rem !important;}

.mb0 {margin-bottom:0px !important;}
.mb4 {margin-bottom:0.25rem !important;}
.mb8 {margin-bottom:0.5rem !important;}
.mb16{margin-bottom:1rem !important;}
.mb20{margin-bottom:1.25rem !important;}
.mb24{margin-bottom:1.5rem !important;}
.mb32{margin-bottom:2rem !important;}
.mb36{margin-bottom:2.25rem !important;}
.mb40{margin-bottom:2.5rem !important;}
.mb44{margin-bottom:2.75rem !important;}

.mr0 {margin-right:0px !important;}
.mr4 {margin-right:0.25rem !important;}
.mr8 {margin-right:0.5rem !important;}
.mr16{margin-right:1rem !important;}
.mr20{margin-right:1.25rem !important;}

.ml0 {margin-left:0px !important;}
.ml4 {margin-left:0.25rem !important;}
.ml8 {margin-left:0.5rem !important;}
.ml12 {margin-left:0.75rem !important;}
.ml16{margin-left:1rem !important;}
.ml20{margin-left:1.25rem !important;}
.ml24{margin-left:1.5rem !important;}
.ml32{margin-left:2rem !important;}
.ml40{margin-left:2.5rem !important;}

.pa0 {padding:0px !important;}
.pa4 {padding:0.25rem !important;}
.pa8 {padding:0.5rem !important;}
.pa16{padding:1rem !important;}
.pa20{padding:1.25rem !important;}
.pa24{padding:1.5rem !important;}
.pa32{padding:2rem !important;}
.pa36{padding:2.25rem !important;}
.pa40{padding:2.5rem !important;}
.pa44{padding:2.75rem !important;}
.pa50{padding:3.125rem !important;}
.pa60{padding:3.75rem !important;}

.pl24{padding-left:1.5rem !important;}


/*------------------------------------*\
  button
\*------------------------------------*/
.btn{position: relative;font-weight:700;padding:11px 16px;display: inline-flex;justify-content: center;align-items: center;white-space:nowrap;text-align: center;vertical-align: middle;border: 1px solid transparent;border-radius:5px;transition:all .2s ease;}
.btn > *{font-weight:700;}
.btn_ss{padding:4px 8px;font-size:.75rem ;border-radius:5px;}
.btn_s{padding:7px 16px;font-size:.875rem ;border-radius:5px;}
.btn_m{padding:9px 28px;font-size:1.25rem;border-radius:7px;}
.btn_l{padding:11px 40px;font-size:1.5rem;border-radius:8px;}

.icon_box{display:inline-flex;align-items: center;}
.ico{display: inline-flex;justify-content: center;align-items:center;}

.icon_box span + span,
.btn_box .btn + .btn{margin-left:4px;}
.btn:hover{box-shadow:0px 0px 10px 4px rgba(0, 0, 0, 0.08);}

/* 컬러 */
.green{color:#039855 !important;}
.mint{color:#1F87AD !important;}
.blue{color:#3D52A7 !important;}
.blue_d{color:#253EA7 !important;}
.blue_d2{color:#0F31B7 !important;}
.navy{color:#162664 !important;}
.yellow{color:#B47818 !important}
.orange{color:#F17B2C !important}
.orange_d{color:#C76A23 !important}
.purple{color:#6D0098 !important} 
.dpurple{color:#2C0B6F !important} 
.pink{color:#D10028 !important}
.pink_d{color:#B70F15 !important}
.red{color:#e0232d !important}
.bk{color:#1D2939 !important} 
.gray700{color:#344054 !important;}
.gray600{color:#4f545c !important;}
.gray500{color:#667085 !important;}

/* 배경 */
.bg_bk{background-color:#1D2939 !important; color:#fff !important}
.bg_gray{background-color:#F6F8FA !important;}
.bg_gray1{background-color:#E2E4E9 !important;}
.bg_disable{background-color:#eee !important;color:#888  !important;cursor: unset !important;}
.bg_dgray{background-color:#595757 !important; color:#fff !important}
.bg_green{background-color:#2d9f75 !important;color:#fff !important}
.bg_mint{background-color:#1F87AD !important;color:#fff !important}
.bg_blue{background-color:#3D52A7 !important;color:#fff !important}
.bg_blue_d2{background-color:#0F31B7 !important;color:#fff !important}
.bg_navy{background-color:#194185 !important;color:#fff !important}
.bg_orange{background-color:#FB6514 !important;color:#fff !important}
.bg_orange_d{background-color:#C76A23 !important;color:#fff !important}
.bg_red{background-color:#e0232d !important;color:#fff !important}
.bg_lred{background-color:#F04438;}
.bg_purple{background-color:#6D0098 !important;color:#fff !important}
.bg_dpurple{background-color:#2C0B6F !important;color:#fff !important}
.bg_pink{background-color:#D10028 !important;color:#fff !important}
.bg_pink2 {background-color:#F63D68 !important;color:#fff !important}
.bg_pink_l {background-color:#fcedf4 !important;}
.bg_pink_d,.primary_bg {background-color:#B70F15 !important;color:#fff !important}
.bg_yellow{background-color:#F79009 !important;}
.bg_w{background-color:#fff !important;}
.bg_w_bo{background-color:#fff !important;border:1px solid #E2E4E9}
.bg_w_bl{background-color:#fff !important;border:1px solid #1570EF;color:#1570EF  !important;}
.bg_r_bo{background-color:#fff !important;border:1px solid #D92D20;color:#D92D20  !important;}
.bg_bk_bo{background-color:#fff !important;border:1px solid #525866;color:#344054  !important;}

/* arrow,ico */
.ir{background:url('/img/ir.svg') 0px 0px no-repeat;vertical-align:middle;}

/* box */
.radius_s{border-radius:5px;}
.radius_m{border-radius:7px;}
.radius_l{border-radius:13px;}
.radius_xl{border-radius:15px;}
.radius_xxl{border-radius:23px;}
.radius_100{border-radius:50%;}

/* 빈페이지 */
.empty_html{padding:80px 40px;border:4px solid #F6F8FA;border-radius:16px;background:#F6F8FA;}
.empty_html .empty_ico{width:160px;height:160px;margin:0 auto 32px;background:url('/img/logo_gray.svg') center center no-repeat #fff;border-radius:50%;}
.empty_item{padding:40px;background:#F9FAFB;border-radius:12px;text-align:center;}

/* 상단으로 */
.loca_nav{position:fixed;right:40px;bottom:50px;z-index:108;display:none}
.loca_nav a{position:relative;display:block;color:#000;background:#fff;width:50px;height:50px;text-align:center;font-size:0px ;border:1px solid #eee;opacity:0.9;font-weight:500;border-radius:4px;}
.loca_nav a.top {padding-top:25px;}
.loca_nav a:before{content:'';position:absolute;top:20px;left:50%;width:8px;height:8px;display:inline-block;border:solid #000;border-width:2px 2px 0 0;transform:rotate(-45deg);vertical-align:middle;margin-left:-4px}
.loca_nav a.bottom{padding-top:12px;margin-top:5px;}
.loca_nav a.bottom:before{content:'';position:absolute;top:16px;left:50%;width:8px;height:8px;display:inline-block;border:solid #000;border-width:2px 2px 0 0;transform:rotate(135deg);vertical-align:middle;margin-left:-4px}
.loca_nav a:hover{background:#000;color:#fff;opacity:1}
.loca_nav a:hover:before{border-color:#fff}

/* 사이트맵 */
.sitemap_list{display:flex;flex-wrap:wrap;margin:-20px;}
.sitemap_list a:hover{font-weight:700;}
.sitemap_list > li{width:calc((100% - 160px) / 4);margin:20px;margin-bottom:48px;}
.sitemap_list > li > a{position:relative;display:block;width:100%;font-size:1.75rem;line-height:1.95rem;font-weight:700;padding:22px 2px;border-bottom:1px solid #666;color:#B70F15;}
.sitemap_list > li > a:hover{color:#D10028;}
.sitemap_dep2 > li > a{position:relative;display:block;padding:14px 2px;padding-left:14px;font-size:1.25rem;border-bottom:1px solid #ededed;font-weight:600;color:#333;}
.sitemap_dep2 > li > a:before{content:'';position:absolute;left:1px;top:50%;margin-top:-2px;width:4px;height:4px;background:#525866;border-radius:50%}
.sitemap_dep2  a:hover{color:#B70F15;}
.sitemap_dep3{position:relative;background:#f8f8f8;margin:16px 0;padding:16px;border-radius:8px;}
.sitemap_dep3:before{content:'';position:absolute;left:0;bottom:-16px;width:100%;height:1px;background:#ededed;}
.sitemap_dep3 > li:not(:first-child){margin-top:13px;}
.sitemap_dep3 > li > a{padding-left:11px;position:relative;font-size:1rem;color:#555;}
.sitemap_dep3 > li > a:before{content:'';position:absolute;left:0;top:11px;width:4px;height:1px;background:#525866;}


/* 만족도 조사 */
#pg_satisfaction{margin-top:72px;border:4px solid #E8ECF1;border-radius:16px;overflow:hidden;}
#pg_satisfaction .u_s_tit{padding:24px 32px 16px;}
#pg_satisfaction .radio_gp_wp{padding:0px 32px 16px;}
#pg_satisfaction .radio_gp_wp ul{display:flex;}
#pg_satisfaction .radio_gp_wp li{position:relative;display:flex;align-items:center;}
#pg_satisfaction .radio_gp_wp ul li + li{margin-left:12px;}
#pg_satisfaction .radio_gp_wp input[type="radio"]{position:relative;width:25px; height:18px; border:none; padding:0; margin:0; background:none;  appearance: none; -webkit-appearance:none; }
#pg_satisfaction .radio_gp_wp input[type="radio"]:before{content:'';width:20px;height:20px;display:inline-block; background-color:#fff; border:6px solid #E2E4E9;border-radius:50%; box-sizing:border-box; position:absolute;left:0;top:0;transition:all .2s ease-in-out;}
#pg_satisfaction .radio_gp_wp input[type="radio"]:checked:before{border:6px solid #375DFB;}
#pg_satisfaction .radio_gp_wp label{display: inline-flex;align-items: center;}
#pg_satisfaction .radio_gp_wp input:checked + label{font-weight:700;}
/*#pg_satisfaction .radio_gp_wp label:before{content:'';width:34px;height:34px;margin-right:8px;display:inline-block;background:url('/_SPC/img/ico_score.png') -8px -47px no-repeat #fff;transition:all .2s ease-in-out;}*/
#pg_satisfaction .radio_gp_wp .q_2 label:before{background-position:-54px -47px;}
#pg_satisfaction .radio_gp_wp .q_3 label:before{background-position:-102px -47px;}
#pg_satisfaction .radio_gp_wp .q_4 label:before{background-position:-150px -47px;}
#pg_satisfaction .radio_gp_wp .q_5 label:before{background-position:-198px -47px;}
#pg_satisfaction .radio_gp_wp .q_1 input:checked + label:before{background-position:-8px 0px;}
#pg_satisfaction .radio_gp_wp .q_2 input:checked + label:before{background-position:-54px 0px;}
#pg_satisfaction .radio_gp_wp .q_3 input:checked + label:before{background-position:-102px 0px;}
#pg_satisfaction .radio_gp_wp .q_4 input:checked + label:before{background-position:-150px 0px;}
#pg_satisfaction .radio_gp_wp .q_5 input:checked + label:before{background-position:-198px 0px;}

#pg_satisfaction .radio_gp_wp input:checked + label:before{}
#pg_satisfaction .user_opinion{position:relative;display:flex;padding:24px 32px 16px;background:#F3F5F8}
#pg_satisfaction .user_opinion textarea{height:49px;width:calc(100% - 100px);margin-right:8px;}
#pg_satisfaction .user_opinion .btn{width:92px;}

/* 애니메이션 */
a{transition:all .3s ease; -webkit-transition:all .2s ease; -ms-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease;}

@keyframes animate_background {0% {transform:scale(1.1)} 100% {transform:scale(1)}}
@keyframes fadein {from {margin-top:-15px; opacity: 0; }to{ margin-top:0px; opacity: 1; }}
@keyframes up{
	0%{transform:translateY(-20px); opacity: 0;}
	100%{transform:translateY(0); opacity: 1;}
}

@keyframes fade_right{
	0%{transform:translateX(-60px); opacity: .2;}
	50%{transform:translateX(-30px); opacity: .5;}
	100%{transform:translateX(0); opacity: 1;}
}
@keyframes fade_left{
	0%{transform:translateX(20px); opacity: .0;}	
	100%{transform:translateX(0); opacity: 1;}
}
@keyframes moveRight{
	50%{
		transform: translateX(24px);
	}
	51%{
		opacity: 0;
		transform: translateX(-24px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes slide-bottom2 {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
			opacity:0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
			opacity:1;
  }
}
@media print {
	body{-webkit-print-color-adjust: exact;font-size:9pt !important}
	h2, h3, table,.latest_update {page-break-after: avoid;}
	img,table {max-width: 100% !important;width:100% !important;}
	.sub{padding-top:0 !important;}
	#footer, 
	#header, 
	#snb, 
	.table_wp 
	.notice{display:none !important;}
	.table_wp{overflow-x:unset;margin:0;width:100%;}
	.table_wp table{width:100% !important;}
	table{margin-top:10px !important;    border-collapse: collapse !important;}
    th, td {
		padding:6px !important;
        border: solid #ddd !important;
        border-width: 1px 0px 1px 0 !important;
    }
	th{border-right:1px solid #ddd !important;}
	#sub_wrap{display:block;}
	#snb{margin-top:0 !important;margin-bottom:20px !important;}
	#content_wrap{padding:0;margin:0;}
	#content_wrap .sub_tit{margin-bottom:20px !important;font-size:1.567em !important;}
}
